* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    box-sizing: border-box; 
}
<<<<<<< HEAD
html, body {
    margin: 0;
    height: 100%;
}

body {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.chatbox {
    width: 500px;
=======

body {
    background: #1ddced;
}

.chatbox {
    width: 1000px;
>>>>>>> 0b4a6d664da119006463466c30dff4fc2a731107
    min-width: 390px;
    height: 600px;
    background: #fff;
    padding: 25px;
    margin: 20px auto;
    box-shadow: 0 3px #ccc;
<<<<<<< HEAD
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
=======
>>>>>>> 0b4a6d664da119006463466c30dff4fc2a731107
}

.chatlogs {
    padding: 10px;
    width: 100%;
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll; 
}

.chatlogs::-webkit-scrollbar {
    width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0,0,0,.1)
}

.chat {
    display: flex;
    flex-flow: row wrap;
<<<<<<< HEAD
    align-items: flex-end; 
=======
    align-items: flex-start; 
>>>>>>> 0b4a6d664da119006463466c30dff4fc2a731107
    margin-bottom: 10px;
}

.chat .user-photo {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.chat .user-photo img{
    width: 100%;
}

.chat .chat-message {
<<<<<<< HEAD
    width: 80%;
    padding: 15px;
    margin: 5px 10px 0;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
}
=======
    width: 50%;
    padding: 15px;
    margin: 5px 10px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
}
.user.chat {
    justify-content: flex-end;
}
>>>>>>> 0b4a6d664da119006463466c30dff4fc2a731107

.user .chat-message{
    background: #1adda4;
    order: -1;
<<<<<<< HEAD
    word-break: break-all;
    border-radius: 25px;
=======
    word-break: break-word;
>>>>>>> 0b4a6d664da119006463466c30dff4fc2a731107
}

.bot .chat-message{
    background: #1ddced; 
<<<<<<< HEAD
    word-break: break-all;
=======
    word-break: break-word;
>>>>>>> 0b4a6d664da119006463466c30dff4fc2a731107
}

.chat-form {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.chat-form textarea{
    background: #fbfbfb;
<<<<<<< HEAD
    width: 75%;
=======
    width: 85%;
>>>>>>> 0b4a6d664da119006463466c30dff4fc2a731107
    height: 50px;
    border: 2px solid #eee; 
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: #333;
}

.chat-form textarea:focus{
    background: #fff; 
}

.chat-form textarea::-webkit-scrollbar {
    width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0,0,0,.1)
}

.chat-form button{
    background: #1adda4;
    padding: 5px 15px;
    font-size: 30px;
    color: #fff;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 3px 0 #0eb2c1;
    cursor: pointer;

    -webkit-transition:  .2s ease;
    -moz-transition:  .2s ease;
}

.chat-form button:hover {
    background: #13c8d9;
    box-shadow: 0 3px 0 #8e8e8e;
}

.arrow_box {
	position: relative;
	background:#1adda4;
    border: 4px solid;
    border-radius: RER;
}
.arrow_box:after, .arrow_box:before {

    left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
    border-left-color:#1adda4;
	border-width: 4px;
	margin-top: -4px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color:#1adda4;
	border-width: 10px;
	margin-top: -10px;
}