<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>UFMG Atendimento</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    
</head>

<body>
    <div class="chatbox">
        <div id = "chatlogs" class="chatlogs">


        <div class="chat bot">
            <div class="user-photo"><img src="static/img/user.png"></div>
            <p class="chat-message arrow_box_bot">Seja bem vindo ao Atendimento Virtual UFMG. Aqui você pode tirar dúvidas relacionadas ao NIPs, conexão com a Internet e consistências relacioanadas ao Moodle. Com o que posso ajudar?</p>
        </div>
        </div>
        <div class="chat-form">
            <input id="texto"  placeholder="Escreva alguma coisa..." onKeyUp="verificaEnter(this, event)" name="texto"></textarea>
            <button id="submit">Send</button>
        </div>
    </div>

<!-- Script que controla as mensagens do chat -->
    <script type="text/javascript">

    var msg = {"msg":"msg de teste"}

    function verificaEnter(t,e){
        if (e.keyCode === 13){
            e.preventDefault();
            document.getElementById("submit").click();
        }
    }
        $("#submit").click(function() {
            var texto = document.getElementById("texto").value;
            if (texto != ""){

                 $("<div class='chat user'><div class='user-photo'><img src='static/img/bot.png'></div><p class='chat-message arrow_box'>" + texto + "</p></div>").appendTo('.chatlogs');
                document.getElementById("texto").value = "";
                var element = document.getElementById("chatlogs");
                element.scrollTop = element.scrollHeight;
                
                var msgServer = "";
                $.ajax({
                    url: '/receiver',
                    dataType: 'json',
                    type: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify( {"direction": "user", "msg" : texto}),
                    success: function(response){
                        msgServer = response['msg']
                        $("<div class='chat bot'><div class='user-photo'><img src='static/img/bot.png'></div><p class='chat-message arrow_box_bot'>" + msgServer + "</p></div>").appendTo('.chatlogs');
                        var element = document.getElementById("chatlogs");
                        element.scrollTop = element.scrollHeight;
                    }
                });

                


            }
        });
    </script>
</body>
</html>